.rec-page {
  margin-top: 2em;
  border-top: 1px solid #ccc;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre-options {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  margin: 1.5em 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  appearance: menulist;
}

.genre-options:hover {
  border-color: #888;
}
.genre-options:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.genre-options option {
  font-weight: normal;
}

.ulStyle {
  width: calc(100% - 2em);
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
}

.liStyle {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #00e64d;
  overflow: hidden;
  transition: all 200ms ease-in;
}

.liStyle:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(8, 241, 86, 0.5);
}

.imgStyle {
  width: 100%;
  height: auto;
}

.title {
  font-size: 2.5em;
  color: #fff;
}

.name {
  font-size: 1.2em;
  margin: 1em;
}

/* Modal styling display block or none*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(121, 121, 121, 0.589);
}

.modal-main {
  position: fixed;
  background: #f2f2f2;
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  min-height: 200px;
  max-height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: scroll;
}

.title-bar {
  position: sticky;
  font-size: 2em;
  padding: 0.5em;
  border-bottom: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.song-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.song-name {
  padding: 0.2em;
  font-size: 1.2em;
}

.cross-mark {
  cursor: pointer;
  font-size: 0.7em;
}
