/* Modal styling display block or none*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(121, 121, 121, 0.589);
}

.modal-main {
  position: fixed;
  background: #f2f2f2;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-family: var(--main-font);
}

.data {
  display: flex;
  height: auto;
}

.title-bar {
  position: sticky;
  font-size: 1.6em;
  padding: 0.5em;
  border-bottom: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.song-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: scroll;
}

.song-name {
  padding: 0.2em;
  font-size: 1.2em;
}

.cross-mark {
  cursor: pointer;
  font-size: 0.7em;
}
