.user-name-head {
  color: var(--blue-light);
  font-family: var(--main-font);
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  padding: 1em;
}

.user-playlists {
  width: calc(100% - 2.4em);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
  margin: 1.2em;
}

.aggregate {
  color: var(--blue-dark);
}

.red {
  color: var(--danger-red);
}
