@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

:root {
  --main-font: "Nunito", sans-serif;
  --blue-dark: #046e3d;
  --blue-light: #03d492;
  --danger-red: rgb(255, 61, 61);
}

body {
  width: 100%;
  background: #fcf9f9;
}
