.users-top-page {
  height: 100%;
  width: 100%;
  max-width: 500px;
  padding: 1.2em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--blue-light);
  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--blue-dark);
}

.name-type {
  font-family: var(--main-font);
  font-size: 2em;
  color: var(--blue-light);
  margin-bottom: 1em;
}

.type-button-container,
.range-button-container {
  width: 100%;
  max-width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
}

.type-button-container button,
.range-button-container button {
  position: relative;
  background-color: #f8f8f8;
  color: var(--blue-light);
  padding: 0.5em;
  border: none;
  width: 100%;
  max-width: 120px;
  border-radius: 50px;
  font-family: var(--main-font);
  font-size: 1em;
  font-weight: 600;
  transition: all 250ms ease-in;
  outline: none;
  border: 1px solid var(--blue-light);
  box-shadow: 1px 1px 3px var(--blue-light);
}

button:hover {
  box-shadow: 2px 2px 4px rgba(0, 233, 0, 0.534);
  top: -0.01em;
  cursor: pointer;
  outline: none;
}

.list-artist-track {
  margin-top: 2em;
  height: 100%;
  width: 100%;
  max-width: 400px;
}

.list-artist-track li {
  font-size: 1.06em;
  margin: 0.5em;
  padding: 0.3em;
  border: 1px solid var(--blue-light);
  box-shadow: 1px 1px 2px var(--blue-dark);
  font-family: var(--main-font);
}
